@tailwind base;
@tailwind components;
@tailwind utilities;

.text-black {
    color: black !important;
}

.code-block {
    background-color: #171616;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    font-size: 14px;
}

